* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

body {
    margin: 50px;
    font-size: 8;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
.header {
    display: grid;
    grid-template-areas:
        'hero hero features-1'
        'hero hero features-2'
    ;
    gap: 4px;
    margin-top: 5vmax;
}

.hero {
    grid-area: hero;
    min-height: 300px;
    background-image: url(img/1.jpg);
    background-size: cover;
    background-position: center;
    padding: 50px;
}

.heading {
    font-weight: bold;
    font-size: 50px;
    color: brown;
}

.sub-heading {
    font-size: 17px;
    color: brown;
}

.sub-heading span {
    color: white;
}

/* mencari hero dan apapun yang ada didlamnya */
.hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.feature {
    background-color: black;
    color: white;
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    cursor: pointer;
}

.features-1 {
    grid-area: features-1;
    background-image: url(img/2.png);
    background-position: center;
}

.features-2 {
    grid-area: features-2;
    background-image: url(img/3.png);
    background-position: center;
}

.feature .price {
    font-size: 3vmax;
    font-weight: 200;
}

.services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.service {
    margin-top: 10%;
    padding: 15px;
    text-align: center;
    border: 1 px solid grey;
    border-radius: 3px;
    box-shadow: 0 0 2px green;
}

.service h3:hover {
    color: grey;
}

.service .icon {
    font-size: 3em;
}

.icon img {
    height: 10vmax;
    width: 10vmax;
}

.text {
    margin: 2vmax 0;
    font-size: 1.5vmax;
    font-weight: bold;
}

nav {
    display: flex;
    background-color: burlywood;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    align-items: center;
    padding-left: 10px;
    font-size: 20px;
    color: white;
}

.footer {
    display: flex;
    background-color: burlywood;
    position: absolute;
    left: 0;
    right: 0;
    height: 60px;
    align-items: center;
    justify-content: center;
    color: white;
}

/* Responsive */
@media (max-width:1024px) {
    .header {
        grid-template-areas:
            'hero'
            'features-1'
            'features-2';
    }

    .features-1,
    .features-2 {
        min-height: 100px;
    }
}

/* @media (max-width:568px) {
    .header {
        grid-template-areas:
            'hero'
            'features-1'
            'features-2';
    }
} */
/* 
@media (max-width:320px) {
    .header {
        grid-template-areas:
            'hero'
            'features-1'
            'features-2';
    }
} */